body {
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Center the form on the page */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

/* Unordered list style */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* form list items style */
form li + li {
  margin-top: 1em;
}

/* Uniform size and alignment */
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

/* To make sure that all text fields have the same font settings
   By default textarea have a monospace font.
*/
input,
textarea {
  font: 1em Sans-Serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

/* Additional highlights for focused elements */
input:focus,
textarea:focus {
  border-color: #000;
}

/* Align multiline text fields with their labels */
textarea {
  vertical-align: top;
  height: 5em;
}

/* Align buttons with text fields */
.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

