*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
}

nav {
  background-color: #F55A5A;
  color: whitesmoke;
  height: 4em;
  padding-block: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
}

nav h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 31.25rem;
  line-height: 1.09rem;
}

.nav--logo {
  width: 2em; 
}

.container--place {
  display: flex;
  margin: 100px 40px 36px 40px;
  justify-content: center;
  gap: 2%;
}

hr {
  color: #F5F5F5;
  width: 93%;
}

.container--img,
.place--desc {
  width: 48%;
}

.place--img {
  width: 100%;
  border-radius: 2%;
}

.fa-location-dot {
  color: #F55A5A;
}

.place--desc p {
  max-width: 70%;
  line-height: 1.5;
}

.desc--location {
  text-transform: uppercase;
}

.desc--url {
  color:#918E9B;
}

.place--desc h2 {
  font-size: 3rem;
}

.desc--date {
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (max-width: 1167px) {
  .container--place {
    flex-direction: column;
    align-items; center;
    margin: 1em 0.5em;
  }

  .container--img,
  .place--desc {
    width: 90%;
  }

  .place--desc p {
    max-width: 100%;
    width: 100%;
  }
}
